@import "includes/normalize.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

:root {
  --container: 1340px;

  --black: #000;
  --white: #FFF;
  --white-opacity-15: #FFFFFF26;
  --white-opacity-50: #FFFFFF80;
  --dark-gray: #32343F;
  --green: #00C466;
}

body {
  margin: 0;
  font-size: 16px;
  /* line-height: Line-height(24)/font-size(16)=1.5 */
  line-height: 1.5;
  letter-spacing: 0.02em;
  box-sizing: border-box;
}

main {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: calc(var(--container) + 30px);
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

.h-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}




.header{
  padding: 12px 0;
  background: var(--dark-gray);


  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  img{
    max-width: 77px;
  }

  ul{
    display: flex;
    align-items: center;
    gap: 35px;
    text-transform: uppercase;
  }

  li{
    font-size: 20px;
    color: var(--white);
    transition: all .3s ease;

    &:hover{
      color: var(--white-opacity-50);
    }
  }

  @media screen and (max-width: 992px) {
    li{
      font-size: 15px;
    }
    ul{
      gap: 10px;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 7px 0;
    border-bottom: 1px solid var(--white);
    li{
      font-size: 6px;
    }
    img{
      max-width: 26px;
    }
  }
}

.banner{
  background: url(../img/hero-bgd.png) no-repeat;
  background-size: cover;
  padding: 255px 0;
  box-shadow: 0px -7px 8.899999618530273px 0px #000000D1;

  &__inner{
    display: flex;
    align-items: center;
    gap: 50px;
  }

  h1{
    font-size: 56px;
    line-height: 72px;
    color: var(--white);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;

    span{
      line-height: 140px;
      font-size: 108px;
    }
  }

  p{
    font-size: 20px;
    line-height: 23px;
    color: var(--white);
    text-align: center;
    max-width: 670px;

    &:last-child{
      line-height: 35px;
      margin-top: 30px;
    }
  }

  &__video{
    width: 100%;
    max-width: 620px;
    height: 350px;
    background: var(--black);
  }

  &__txt{
    width: 100%;
  }

  @media screen and (max-width: 1024px) {
    h1{
      font-size: 30px;
      margin-bottom: 18px;
      line-height: 42px;

      span{
        font-size: 57px;
        line-height: 60px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 40px 0 32px;
    background: url(../img/hero-bgd-mob.png) no-repeat;
    background-size: cover;

    &__inner{
      flex-direction: column;
      gap: 30px;
    }

    p{
      font-size: 15px;
      line-height: 17px;
      max-width: 500px;
      margin: 0 auto;

      &:last-child{
        line-height: 18px;
        margin-top: 19px;
      }
    }
  }
}